APP_ENV=prod
APP_SECRET=change_this_to_a_random_32char_string

# MySQL Credentials
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=symfony_db
MYSQL_USER=symfony_user
MYSQL_PASSWORD=symfony_password

# Auto-built from above in docker-compose
DATABASE_URL="mysql://symfony_user:symfony_password@platform_docker-db:3306/symfony_db?serverVersion=8.0.32&charset=utf8mb4"
